{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klasifikasi hewan</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data" id="myForm">
      <div id="video-container">
        <video autoplay="true" id="video-webcam">
          Browser tidak mendukung, silahkan update!!
        </video>
        <img
          style="height: 80px; width: 80px"
          src="{% static 'img/ic_capture.png' %}"
          alt=""
          id="take-picture-button"
          onclick="takeSnapshot()"
        />
      </div>
      {% csrf_token %}
      <!-- input file gambar -->
      <button type="button" id="btnreset" onclick="resetSnapshot()">
        Reset Gambar
      </button>
      <input
        type="file"
        accept="image/*"
        id="file-input"
        onchange="loadImage()"
        name="gmbr"
      />
      <!-- <input type="hidden" name="csrf_token" value="{% csrf_token %}" /> -->
    </form>
    <button name="audioIDButton" id="audioIDButton" value="INDO">INDO </button>
    <button name="audioENButton" id="audioENButton" value="EN">ENGLISH </button>

    <audio id="myAudioId" autoplay>
      <source src="" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <audio id="myAudioEn" autoplay>
      <source src="" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <h1 id="nameId">{{predId}}</h1>
    <h1 id="nameEn">{{predEn}}</h1>

    <script type="text/javascript">
      var video = document.querySelector("#video-webcam");
      var fileInput = document.querySelector("#file-input");
      var takePictureButton = document.querySelector("#take-picture-button");
      var dataID = "";
      var dataEN = "";

      navigator.getUserMedia =
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        navigator.oGetUserMedia;

      if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true }, handleVideo, videoError);
      }

      $(document).ready(function(){
        const audioElementID = document.getElementById("myAudioId");
        const audioElementEN = document.getElementById("myAudioEn");

        $("#audioIDButton").on("click", function(){
          audioElementID.src = "{% static 'audios/Id/' %}" + dataID + ".mp3";
        });
        $("#audioENButton").on("click", function(){
          audioElementID.src = "{% static 'audios/En/' %}" + dataEN + ".mp3";
        });
      });

      function handleVideo(stream) {
        video.srcObject = stream;
      }

      function videoError(e) {
        alert("Izinkan menggunakan webcam untuk demo!");
      }

      function loadImage() {
        var file = fileInput.files[0];
        if (file) {
          var img = document.createElement("img");
          img.src = URL.createObjectURL(file);

          var videoContainer = document.getElementById("video-container");
          videoContainer.innerHTML = "";
          videoContainer.appendChild(img);

          // Move the "Take Picture" button back inside the container
          // videoContainer.appendChild(takePictureButton);
          SetPrediction();
        }
      }

      function SetPrediction(){
        var video = document.querySelector("#video-webcam");
          var fileInput = document.querySelector("#file-input");
          var takePictureButton = document.querySelector("#take-picture-button");

          navigator.getUserMedia =
            navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia ||
            navigator.oGetUserMedia;

          if (navigator.getUserMedia) {
            navigator.getUserMedia({ video: true }, handleVideo, videoError);
          }

          const audioElementID = document.getElementById("myAudioId");
          const audioElementEN = document.getElementById("myAudioEn");

          var formData = new FormData($("#myForm")[0]); // Create a FormData object from the form
          formData.append(
            "csrfmiddlewaretoken",
            $("input[name=csrfmiddlewaretoken]").val()
          ); // Include the CSRF token

          formData.append("gmbr", $("#file-input")[0].files[0]);

          console.log(fileInput.files[0]);

          // var buttonValue = $(this).val(); // Get the value of the clicked button

          $.ajax({
              type: "POST",
              url: "{% url 'predictId' %}",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                console.log(data);
                $("#nameId").html(data);
                dataID = data;
                //audioElementID.src = "{% static 'audios/Id/' %}" + data + ".mp3";
                document.getElementById("nameId").style.display = "inline";
              },
              error: function (xhr, status, error) {
                console.error(xhr, status, error);
              },
          });

          $.ajax({
            type: "POST",
            url: "{% url 'predictEn' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              console.log(data);
              $("#nameEn").html(data);
              dataEN = data;
              document.getElementById("nameEn").style.display = "inline";
            },
            error: function (xhr, status, error) {
              console.error(xhr, status, error);
            },
          });
      }

      function takeSnapshot() {
        if (!video) {
          console.error("Video element not found.");
          return;
        }

        var canvas = document.createElement("canvas");
        var context = canvas.getContext("2d");

        var width = video.offsetWidth;
        var height = video.offsetHeight;

        canvas.width = width;
        canvas.height = height;

        context.drawImage(video, 0, 0, width, height);

        var img = document.createElement("img");
        img.src = canvas.toDataURL("image/png");

        var videoContainer = document.getElementById("video-container");
        videoContainer.innerHTML = "";
        videoContainer.appendChild(img);

        var blob = dataURItoBlob(img.src);

        var formData = new FormData($("#myForm")[0]); // Create a FormData object from the form
          formData.append(
            "csrfmiddlewaretoken",
            $("input[name=csrfmiddlewaretoken]").val()
          ); // Include the CSRF token

          formData.append("gmbr", blob, "image.jpg");

          // var buttonValue = $(this).val(); // Get the value of the clicked button

          $.ajax({
              type: "POST",
              url: "{% url 'predictId' %}",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                console.log(data);
                $("#nameId").html(data);
                dataID = data;
                //audioElementID.src = "{% static 'audios/Id/' %}" + data + ".mp3";
                document.getElementById("nameId").style.display = "inline";
              },
              error: function (xhr, status, error) {
                console.error(xhr, status, error);
              },
          });

          $.ajax({
            type: "POST",
            url: "{% url 'predictEn' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              console.log(data);
              $("#nameEn").html(data);
              dataEN = data;
              document.getElementById("nameEn").style.display = "inline";
            },
            error: function (xhr, status, error) {
              console.error(xhr, status, error);
            },
          });
        
        // Move the "Take Picture" button back inside the container
        // videoContainer.appendChild(takePictureButton);
      }

      function resetSnapshot() {
        var videoContainer = document.getElementById("video-container");
        videoContainer.innerHTML = "";
        videoContainer.innerHTML =
          '<video autoplay="true" id="video-webcam">Browsermu tidak mendukung bro, upgrade donk!</video>';
        video = document.querySelector("#video-webcam");

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        // Move the "Take Picture" button back inside the container
        videoContainer.appendChild(takePictureButton);
        document.getElementById("nameId").style.display = "none";
        document.getElementById("nameEn").style.display = "none";
        document.getElementById("file-input").value = '';
      }

      function dataURItoBlob(dataURI) {
        var byteString = atob(dataURI.split(',')[1]);
        var ab = new ArrayBuffer(byteString.length);
        var ia = new Uint8Array(ab);

        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ab], { type: 'image/png' }); // Change the type if needed
    }
    </script>
  </body>
</html>
