* {
    margin: 0;
}

body {
    background-color: #E3EDBC;
}

.main-container
{
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 10px 0;
}

.video-container
{
    position: relative;
}

.video-container video
{
    width: 80%;
    height: auto;
    margin: 10px;
    border-radius: 50px;
    border: 3px solid #054502;
}

.video-container img
{
    width: 80%;
    height: 63vh;
    border-radius: 50px;
    border: 3px solid #054502;
    object-fit: fill;
}

.video-container #take-picture-button
{
    position: absolute;
    bottom: 8%;
    left: 35%;
    border: 0px;
}

.button-container
{
    margin-bottom: 20px;
}

.button-container img
{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    width: 50px;
}

.button-container .custom-file-upload
{
    cursor: pointer;
    display: inline;
}

.button-container .custom-file-upload span
{
    font-size: 20px;
    margin-left: 50%;
    text-decoration: underline;
}

.button-container .custom-file-upload input
{
    display: none;
}


.language-container
{
    font-family: 'KG Primary Penmanship';
    font-size: 18px;
    color: #FFFFFF;
}

.language-container .button-language
{
    width: 80%;
    background-color: #2F6D30;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 3%;
    cursor: pointer;
}

.language-container .button-language:hover
{
    width: 80%;
    background-color: #2F6D30;
    opacity: 0.80;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.language-container .button-language:last-child
{
    width: 80%;
    background-color: #97AD50;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 10px;
}

.language-container .button-language img
{
    display: inline-block;
    width: 10%;
}

.language-container .button-language div
{
    display: inline-block;
    width: 85%;
    text-align: center;
}

.papan-container
{
    text-align: center;
}

.papan-container img
{
    width: 80%;
}

.prediction-box-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction-box
{
    display: none;
    width: 80%;
    height: 20vh;
    text-align: center;
    font-size: 24px;
    font-family: 'KG Primary Penmanship';
    justify-content: center;
    align-items: center;
}

#predBoxEN {
    background-image: url(../img/enkotak.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#predBoxID {
    background-image: url(../img/indokotak.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.prediction-box span
{
    position: relative;
    top: 40%;
}

@media screen and (max-width: 768px) {

    .video-container
    {
        text-align: center;
    }

    .video-container #take-picture-button
    {
        position: absolute;
        bottom: 8%;
        left: 45%;
        border: 0px;
    }

    .button-container
    {
        text-align: center;
    }

    .language-container
    {
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .prediction-box span
    {
        position: relative;
        top: 40%;
    }

    .order-flex-small-1
    {
        order: 1!important;
    }

    .order-flex-small-2
    {
        order: 2!important;
    }
    
    .language-container
    {
        font-family: 'KG Primary Penmanship';
        font-size: 15px;
        color: #FFFFFF;
    }

    .main-container
    {
        height: 100%;
        background-image: url(../img/bgmb.png);
        background-size: cover;
        background-repeat: no-repeat;
        font-weight: bold;
        padding: 10px 0;
    }

    .video-container video
    {
        width: 80%;
        height: auto;
        margin: 10px;
        border-radius: 50px;
        border: 3px solid #054502;
    }

    .video-container img
    {
        width: 80%;
        height: auto;
        max-height: 63vh;
        border-radius: 50px;
        border: 3px solid #054502;
        object-fit: fill;
    }

    .prediction-box
    {
        display: none;
        width: 80%;
        height: 20vh;
        text-align: center;
        font-size: 20px;
        font-family: 'KG Primary Penmanship';
        justify-content: center;
        align-items: center;
    }
}