/* audio {
  display: none;
} */

#video-container {
  width: 640px; /* Set your desired width */
  height: 480px; /* Set your desired height */
  position: relative;
  border: 5px solid #054502; /* Old green color border */
  border-radius: 50px; /* Rounded corners */
  overflow: hidden;

}

#video-container img {
  width: 100%;
  height: 100%;
}

#take-picture-button {
  position: absolute;
  bottom: 10px; /* Adjust the bottom distance as needed */
  /* display: inline; */
  left: 50%;
  transform: translateX(-50%);
  /* visibility: hidden; */
}
#btnreset {
  margin-top: 20px;
  margin-left: 20px;
}
#file-input {
  color: transparent;
  margin-left: 27%;
  margin-top: 3%;
}
