{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klasifikasi hewan</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.cdnfonts.com/css/kg-primary-penmanship-lined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid main-container">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 order-xl-1 order-md-1 order-sm-2 order-flex-small-2">
          <form method="post" enctype="multipart/form-data" id="myForm">
            {% csrf_token %}
            <div class="row">
              <div class="video-container col-xl-12 col-sm-12 col-md-12" id="video-container">
                <video autoplay="true" id="video-webcam">
                  Browser tidak mendukung, silahkan update!!
                </video>
                <img
                  style="height: 80px; width: 80px"
                  src="{% static 'img/ic_capture.png' %}"
                  alt=""
                  id="take-picture-button"
                  onclick="takeSnapshot()"
                />
              </div>
              <div class="button-container col-xl-12">
                <img src="{% static 'img/ic_refresh.png' %}" id="btnreset" alt="">
                <label for="file-input" class="custom-file-upload">
                  <span>Import Galery</span>
                  <input type="file" id="file-input" accept="image/*" onchange="loadImage()" name="gmbr">
                </label>
              </div>
              <div class="language-container col-xl-12 row">
                <div class="button-language col-xl-12" id="audioENButton">
                  <div>
                    <span>Bahasa Inggris</span>
                  </div>
                  <img src="{% static 'img/ic_sound.png' %}" alt="">
                </div>
                <div class="button-language col-xl-12" id="audioIDButton">
                  <div>
                    <span>Bahasa Indonesia</span>
                  </div>
                  <img src="{% static 'img/ic_sound.png' %}" alt="">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" prediction-container col-xl-6 col-md-6 col-sm-12 order-xl-2 order-md-2 order-sm-1 order-flex-small-1">
          <div class="row">
            <div class="col-xl-12 papan-container">
              <img src="{% static 'img/title_img.png' %}" alt="">
            </div>
            <div class="col-xl-12 prediction-box-container">
              <div class="prediction-box" id="predBoxEN">
                <span id="nameEn">Loading...</span>
              </div>
              <div class="prediction-box" id="predBoxID">
                <span id="nameId">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <audio id="myAudioId" autoplay>
        <source
          src=""
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
      <audio id="myAudioEn" autoplay>
        <source
          src=""
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script type="text/javascript">
      var video = document.querySelector("#video-webcam");
      var fileInput = document.querySelector("#file-input");
      var takePictureButton = document.querySelector("#take-picture-button");
      var dataID = "";
      var dataEN = "";
      var videoContainer = document.getElementById("video-container");
          
      const predictionIdBox = document.getElementById("predBoxID");
      const predictionEnBox = document.getElementById("predBoxEN");
      const nameEn = document.getElementById("nameEn");
      const nameId = document.getElementById("nameId");



      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

      if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true }, handleVideo, videoError);
      }

      // document.getElementById("koin").style.display = "none";
      // window.onbeforeunload = function () {
      //   // Hide the div before the page is reloaded
      // };
      
      function handleVideo(stream) {
        video.srcObject = stream;
      }

      function videoError(e) {
        alert("Izinkan menggunakan webcam untuk demo!");
      }

      $(document).ready(function(){
        const audioElementID = document.getElementById("myAudioId");
        const audioElementEN = document.getElementById("myAudioEn");
        
        $("#audioIDButton").on("click", function(){
          let imgElement = videoContainer.querySelector(".img-container");
          if(!imgElement){
            alert("Gambar tidak ditemukan!!");
          } else {
            audioElementID.src = "{% static 'audios/Id/' %}" + dataID + ".mp3";
            predictionEnBox.style.display = "none";
            predictionIdBox.style.display = "block";
            let nameindo = nameId.textContent;
            nameindo = ""? "Loading...":"{{ predId }}";
          }
        });

        $("#audioENButton").on("click", function(){
          let imgElement = videoContainer.querySelector(".img-container");
          if(!imgElement){
            alert("Gambar tidak ditemukan!!");
          } else {
            audioElementEN.src = "{% static 'audios/En/' %}" + dataEN + ".mp3";
            predictionIdBox.style.display = "none";
            predictionEnBox.style.display = "block";
            let nameenge = nameEn.textContent;
            nameEn = ""? "Loading...":"{{ predEn }}"
          }
        });
        $("#btnreset").on("click", function(){
          resetSnapshot();
        });
      });

      function SetPrediction(){
        var video = document.querySelector("#video-webcam");
        var fileInput = document.querySelector("#file-input");
        var takePictureButton = document.querySelector("#take-picture-button");

        navigator.getUserMedia =
          navigator.getUserMedia ||
          navigator.webkitGetUserMedia ||
          navigator.mozGetUserMedia ||
          navigator.msGetUserMedia ||
          navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        const audioElementID = document.getElementById("myAudioId");
        const audioElementEN = document.getElementById("myAudioEn");

        var formData = new FormData($("#myForm")[0]); // Create a FormData object from the form
        formData.append(
          "csrfmiddlewaretoken",
          $("input[name=csrfmiddlewaretoken]").val()
        ); // Include the CSRF token

        formData.append("gmbr", $("#file-input")[0].files[0]);


        // var buttonValue = $(this).val(); // Get the value of the clicked button

        $.ajax({
            type: "POST",
            url: "{% url 'predictId' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              console.log(data);
              $("#nameId").html(data);
              dataID = data;
            },
            error: function (xhr, status, error) {
              console.error(xhr, status, error);
            },
        });

        $.ajax({
          type: "POST",
          url: "{% url 'predictEn' %}",
          data: formData,
          processData: false,
          contentType: false,
          success: function (data) {
            console.log(data);
            $("#nameEn").html(data);
            dataEN = data;
          },
          error: function (xhr, status, error) {
            console.error(xhr, status, error);
          },
        });
      }

      function loadImage() {
        resetSnapshot();
        var file = fileInput.files[0];
        if (file) {
          var img = document.createElement("img");
          img.src = URL.createObjectURL(file);
          img.className = "img-container";

          var videoContainer = document.getElementById("video-container");
          videoContainer.innerHTML = "";
          videoContainer.appendChild(img);

          // Move the "Take Picture" button back inside the container
          // videoContainer.appendChild(takePictureButton);
          SetPrediction();
        }
      }

      function takeSnapshot() {
        // resetSnapshot()
        if (!video) {
          console.error("Video element not found.");
          return;
        }

        var canvas = document.createElement("canvas");
        var context = canvas.getContext("2d");

        var width = video.offsetWidth;
        var height = video.offsetHeight;

        canvas.width = width;
        canvas.height = height;

        context.drawImage(video, 0, 0, width, height);

        var img = document.createElement("img");
        img.src = canvas.toDataURL("image/png");
        img.className = "img-container"

        var videoContainer = document.getElementById("video-container");
        videoContainer.innerHTML = "";
        videoContainer.appendChild(img);

        var blob = dataURItoBlob(img.src);

        var formData = new FormData($("#myForm")[0]); // Create a FormData object from the form
          formData.append(
            "csrfmiddlewaretoken",
            $("input[name=csrfmiddlewaretoken]").val()
          ); // Include the CSRF token

          formData.append("gmbr", blob, "image.jpg");

          $.ajax({
              type: "POST",
              url: "{% url 'predictId' %}",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                console.log(data);
                $("#nameId").html(data);
                dataID = data;
              },
              error: function (xhr, status, error) {
                console.error(xhr, status, error);
              },
          });

          $.ajax({
            type: "POST",
            url: "{% url 'predictEn' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
              console.log(data);
              $("#nameEn").html(data);
              dataEN = data;
            },
            error: function (xhr, status, error) {
              console.error(xhr, status, error);
            },
          });
      }

      function resetSnapshot() {
        const audioElementID = document.getElementById("myAudioId");
        const audioElementEN = document.getElementById("myAudioEn");
        var videoContainer = document.getElementById("video-container");
        dataEN =  "";
        dataID = "";
        videoContainer.innerHTML = "";
        videoContainer.innerHTML =
          '<video autoplay="true" id="video-webcam">Browsermu tidak mendukung bro, upgrade donk!</video>';
        video = document.querySelector("#video-webcam");

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        predictionIdBox.style.display = "none";
        predictionEnBox.style.display = "none";
        $("#nameId").html("Loading...");
        $("#nameEn").html("Loading...");
        // Move the "Take Picture" button back inside the container
        videoContainer.appendChild(takePictureButton);

        audioElementID.src = "";
        audioElementEN.src = "";

      }

      function dataURItoBlob(dataURI) {
        var byteString = atob(dataURI.split(",")[1]);
        var ab = new ArrayBuffer(byteString.length);
        var ia = new Uint8Array(ab);

        for (var i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ab], { type: "image/png" }); // Change the type if needed
      }
    </script>
    
  </body>
</html>
