{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Klasifikasi hewan</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://kit.fontawesome.com/75690d0497.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="bg">
      <div class="column">
        <br />

        <form method="post" enctype="multipart/form-data" id="myForm">
          <div id="video-container">
            <video autoplay="true" id="video-webcam">
              Browser tidak mendukung, silahkan update!!
            </video>
            <img
              style="height: 80px; width: 80px"
              src="{% static 'img/ic_capture.png' %}"
              alt=""
              id="take-picture-button"
              onclick="takeSnapshot()"
            />
          </div>
          {% csrf_token %}
          <!-- input file gambar -->
          <div class="inputan">
            <button
              class="fa-solid fa-rotate-right fa-xl"
              style="color: #2f6d30"
              type="button"
              id="btnreset"
              onclick="resetSnapshot()"
            ></button>
            <input
              type="file"
              accept="image/*"
              id="file-input"
              onchange="loadImage()"
              name="gmbr"
            />
            <label id="inGmbr" for="file-input">Import Image</label>
          </div>
          <div class="btn">
            <input
              id="in"
              type="image"
              src="{% static 'img/btnId.png' %}"
              alt="Submit"
              name="submit_button"
              value="INDO"
            />
            <input
              id="en"
              type="image"
              src="{% static 'img/btnEn.png' %}"
              name="submit_button"
              value="EN"
            />
          </div>
        </form>

        <audio id="myAudioId" autoplay>
          <source
            src="{% static 'audios/Id/' %}{{predId}}.mp3"
            type="audio/mpeg"
          />
          Your browser does not support the audio element.
        </audio>
        <audio id="myAudioEn" autoplay>
          <source
            src="{% static 'audios/En/' %}{{predEn}}.mp3"
            type="audio/mpeg"
          />
          Your browser does not support the audio element.
        </audio>
      </div>

      <div class="column2">
        <br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br />
        <br /><br /><br />
        <div id="koin">
          <br /><br />
          <h1 id="nameId">{{predId}}</h1>
        </div>
        <div id="koen">
          <br /><br />
          <h1 id="nameEn">{{predEn}}</h1>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var video = document.querySelector("#video-webcam");
      var fileInput = document.querySelector("#file-input");
      var takePictureButton = document.querySelector("#take-picture-button");
      var blobi;
      navigator.getUserMedia =
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        navigator.oGetUserMedia;

      if (navigator.getUserMedia) {
        navigator.getUserMedia({ video: true }, handleVideo, videoError);
      }

      // document.getElementById("koin").style.display = "none";
      // window.onbeforeunload = function () {
      //   // Hide the div before the page is reloaded
      // };

      $(document).on("click", "#myForm input[type='image']", function (e) {
        const audioElement = document.getElementById("myAudioId");
        const audioElement1 = document.getElementById("myAudioEn");
        e.preventDefault();

        var formData = new FormData($("#myForm")[0]); // Create a FormData object from the form
        formData.append(
          "csrfmiddlewaretoken",
          $("input[name=csrfmiddlewaretoken]").val()
        ); // Include the CSRF token

        formData.append("gmbr", $("#file-input")[0].files[0]);

        var buttonValue = $(this).val(); // Get the value of the clicked button

        if (buttonValue === "INDO") {
          //if lagi
          if (document.getElementById("file-input").files.length == 0) {
            try {
              formData.append("gmbr", blobi, "image.jpg");
              $.ajax({
                type: "POST",
                url: "{% url 'predictId' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                  console.log(data);
                  $("#nameId").html(data);
                  audioElement.src =
                    "{% static 'audios/Id/' %}" + data + ".mp3";
                  document.getElementById("koin").style.display = "flex";
                  document.getElementById("koen").style.display = "none";
                  document.getElementById("nameId").style.display = "inline";
                  document.getElementById("nameEn").style.display = "none";
                },
                error: function (xhr, status, error) {
                  console.error(xhr, status, error);
                },
              });
            } catch {
              alert("Gambar tidak ditemukan!!\nMohon input gambar!!");
            }
          } else {
            $.ajax({
              type: "POST",
              url: "{% url 'predictId' %}",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                console.log(data);
                $("#nameId").html(data);
                audioElement.src = "{% static 'audios/Id/' %}" + data + ".mp3";
                document.getElementById("koin").style.display = "flex";
                document.getElementById("koen").style.display = "none";
                document.getElementById("nameId").style.display = "inline";
                document.getElementById("nameEn").style.display = "none";
              },
              error: function (xhr, status, error) {
                console.error(xhr, status, error);
              },
            });
          }
        } else if (buttonValue === "EN") {
          if (document.getElementById("file-input").files.length == 0) {
            try {
              formData.append("gmbr", blobi, "image.jpg");
              $.ajax({
                type: "POST",
                url: "{% url 'predictEn' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                  console.log(data);
                  $("#nameEn").html(data);
                  audioElement.src =
                    "{% static 'audios/En/' %}" + data + ".mp3"; // Handle the response data as needed
                  document.getElementById("koin").style.display = "none";
                  document.getElementById("koen").style.display = "flex";
                  document.getElementById("nameId").style.display = "none";
                  document.getElementById("nameEn").style.display = "inline";
                },
                error: function (xhr, status, error) {
                  console.error(xhr, status, error);
                },
              });
            } catch {
              alert("Gambar tidak ditemukan!!\nMohon input gambar!!");
            }
          } else {
            $.ajax({
              type: "POST",
              url: "{% url 'predictEn' %}",
              data: formData,
              processData: false,
              contentType: false,
              success: function (data) {
                console.log(data);
                $("#nameEn").html(data);
                audioElement.src = "{% static 'audios/En/' %}" + data + ".mp3"; // Handle the response data as needed
                document.getElementById("koin").style.display = "none";
                document.getElementById("koen").style.display = "flex";
                document.getElementById("nameId").style.display = "none";
                document.getElementById("nameEn").style.display = "inline";
              },
              error: function (xhr, status, error) {
                console.error(xhr, status, error);
              },
            });
          }
        }
      });

      function handleVideo(stream) {
        video.srcObject = stream;
      }

      function videoError(e) {
        alert("Izinkan menggunakan webcam untuk demo!");
      }

      function loadImage() {
        var file = fileInput.files[0];
        if (file) {
          var img = document.createElement("img");
          img.src = URL.createObjectURL(file);

          var videoContainer = document.getElementById("video-container");
          videoContainer.innerHTML = "";
          videoContainer.appendChild(img);

          // Move the "Take Picture" button back inside the container
          // videoContainer.appendChild(takePictureButton);
        }
      }

      function takeSnapshot() {
        if (!video) {
          console.error("Video element not found.");
          return;
        }

        var canvas = document.createElement("canvas");
        var context = canvas.getContext("2d");

        var width = video.offsetWidth;
        var height = video.offsetHeight;

        canvas.width = width;
        canvas.height = height;

        context.drawImage(video, 0, 0, width, height);

        var img = document.createElement("img");
        img.src = canvas.toDataURL("image/png");

        var videoContainer = document.getElementById("video-container");
        videoContainer.innerHTML = "";
        videoContainer.appendChild(img);

        var blob = dataURItoBlob(img.src);
        blobi = blob;
      }

      function resetSnapshot() {
        var videoContainer = document.getElementById("video-container");
        videoContainer.innerHTML = "";
        videoContainer.innerHTML =
          '<video autoplay="true" id="video-webcam">Browsermu tidak mendukung bro, upgrade donk!</video>';
        video = document.querySelector("#video-webcam");

        if (navigator.getUserMedia) {
          navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        // Move the "Take Picture" button back inside the container
        videoContainer.appendChild(takePictureButton);
        document.getElementById("nameId").style.display = "none";
        document.getElementById("nameEn").style.display = "none";
        document.getElementById("koen").style.display = "none";
        document.getElementById("koin").style.display = "none";
        document.getElementById("file-input").value = "";
        blobi = "";
      }

      function dataURItoBlob(dataURI) {
        var byteString = atob(dataURI.split(",")[1]);
        var ab = new ArrayBuffer(byteString.length);
        var ia = new Uint8Array(ab);

        for (var i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ab], { type: "image/png" }); // Change the type if needed
      }
    </script>
  </body>
</html>
